@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: 700;
  }

  :root {
    --brand-dark: #0b0d0c;
    --brand-background: #201f40;
    --brand-accent: #a4906c;
    --brand-primary: #f2e0ae;
    --brand-light: #feffde;
    --brand-white: #faf7f0;
  }

  html {
    background-color: var(--brand-background);
    color: var(--brand-white);
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }
}

/* html {
  opacity: 0;
} */

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}
